<%- include('../partials/header'); %>
    <!-- image and tabs, partial -->
    <div class="my-5 d-flex w-75 mx-auto flex-wrap">
        <section class="view-studio justify-content-left ">
            <div>
                <div>
                    <figure><img class="view-studio-img"src="<%= studio.img %>" /></figure>
                </div>
                <nav class="nav info-nav">
                    <%if(tab==="info" ){%>
                        <a class="nav-link active" id="info-tab" href=" /studios/<%= studio._id %>">Info</a>
                        <a class="nav-link" id="lessons-tab" href=" /studios/<%= studio._id %>/lessons">Classes</a>
                    <%}else{%>
                        <a class="nav-link" id="info-tab" href=" /studios/<%= studio._id %>">Info</a>
                        <a class="nav-link active" id="lessons-tab" href=" /studios/<%= studio._id %>/lessons">Classes</a>
                    <%}%>
                </nav>
            </div>
        <!-- tab contents (info or lessons)-->
        <%if(tab==="info" ){%>
            <div class="view-studio-tab border-top py-3">
                    <div class="py-3">
                        <h2>
                            <%= studio.name %>
                        </h2>
                        <p>
                            <%= studio.description %>
                        </p>
                    </div>
                    <div class="amenities border-top py-3">
                        <div>
                            <h4>Amenities</h4>
                         
                                <ul class="d-flex w-75 justify-content-between p-0 text-muted mt-3">
                                <% if (studio.amenities.length> 0 ){ %>
                                    <% studio.amenities.forEach(item => { %>
                                        <li> 
                                            <figure><img src="/img/<%= item %>.png"/></figure>
                                            <figure-caption><%= item %></figure-caption>
                                        </li>
        
                                    <%})%>  
                                <% }else{ %>
                                    <li> 
                                       <P>No amenities available</P> 
                                    </li>

                                <% } %>   
                                </ul>   
                           
                        </div>
                    </div>
                    <!-- reviews sections -->
                    <div class="border-top">
                        <!-- rating -->
                        <div class="py-3">
                            <h4><%= studio.name %> Reviews</h4>
                            <div class="ratings d-flex">
                                
                                   <%if(avgRating !== null){%>
                                   <span id="avg-rating-num"class="rating-num h4"><%= avgRating %></span>
                                    <div class="stars-main my-auto ms-2">
                                        <% for(let i = 1; i < avgRating; i++){%>
                                        <i class="fa fa-star"></i>
                                        
                                        <%}%>
                                        <% for(let i = 0; i < (5-avgRating); i++){%>
                                        <i class="fa fa-star opacity-25"></i>
                                        <%}%>
                                    </div>
                                   <%}%>
                                 
                                    
                                
                            </div>
                        </div>
                        <!-- Actual REVIEWS -->
                        <div class="py-3 border-bottom">
                            <!-- only get lesson with reviews -->      
                            <%if(sortedTotalReviews.length > 0){%>                                                                               
                                     <% sortedTotalReviews.forEach(eachReview=> {%>
                                        <div class="reviews-content py-3 border-top">
                                            <div class=" py-1">
                                                <h6 >
                                                    <span class="font-weight-bold"> <%= eachReview.name %></span> with <%= eachReview.instructor %>
                                                </h6>
                                            </div>
                                            <div class="d-flex py-1">
                                                <div class="stars">
                            
                                                    <% for(let i = 0; i < eachReview.rating; i++){%>
                                                        <i class="fa fa-star"></i>
                                                    <%}%>
                                                    <% for(let i = 0; i < (5-eachReview.rating); i++){%>
                                                        <i class="fa fa-star opacity-25"></i>
                                                    <%}%>
                                                </div>
                                                <div>
                                                <p class="mx-2 font-small"><small>
                                                    <%= eachReview.dateCreated.toDateString()%>
                                                </small></p>
                                                </div>
                                            </div>
                                            <p class="py-1">
                                                <%= eachReview.review %>
                                            </p>
                                        </div>
                                    <%})%>
                            <%}else{%>
                                <div class="reviews-content py-3 ">
                                    <p class="py-1">
                                        No reviews available
                                    </p>

                                </div>
                            <%}%>
                                                                                                                                  
                        </div>
                    </div>
            </div>
       </section>
        <%}else{%>
            <%- include('../partials/studios/lessons'); %>  
        </section>    
        <%}%>
        
        
        <section class="socials my-0 justify-content-right">
        <div class="border-left position-fixed pb-2 border-left">
            <div class="pb-2 ">
                <p>
                    <i class="fa fa-map-marker px-2" aria-hidden="true"></i>
                    <%= studio.address %>
                </p>
            </div>
            <div class="py-2">
                <p>
                    <i class="fa fa-phone px-2" aria-hidden="true"></i>
                    <%= studio.contact %>
                </p>
            </div>
                <div class="py-2"> 
                    <i class="fa fa-wpforms px-2" aria-hidden="true"></i>
                    <a href="<%= studio.socials[0].item %> "class="font-weight-bold"><%= studio.name %>.com</a>
                </div>
                <div class="py-2">
                    <i class="fa fa-instagram px-2" aria-hidden="true"></i>
                    <a href="<%= studio.socials[1].item %>">@<%= studio.name %></a>
                </div>
                <div class="py-2">
                    <i class="fa fa-facebook px-2" aria-hidden="true"></i>
                    <a href="<%= studio.socials[2].item %>">@<%= studio.name %></a>
                </div>
        </div> 
        </section>
    </div>

<%- include('../partials/footer'); %>