<%- include('../partials/header'); %>

    <!-- image and tabs, partial -->
    <div class="my-5 d-flex w-75 mx-auto justify-content-center flex-wrap">
        <section class="view-studio">
            <div>
                <div>
                    <figure><img src="<%= studio.img %>" /></figure>
                </div>
                <nav class="nav info-nav">
                    <%if(tab==="info" ){%>
                        <a class="nav-link active" id="info-tab" href=" /studios/<%= studio._id %>">Info</a>
                        <a class="nav-link" id="lessons-tab" href=" /studios/<%= studio._id %>/lessons">Lessons</a>
                    <%}else{%>
                        <a class="nav-link" id="info-tab" href=" /studios/<%= studio._id %>">Info</a>
                        <a class="nav-link active" id="lessons-tab" href=" /studios/<%= studio._id %>/lessons">Lessons</a>
                    <%}%>
                </nav>
            </div>
        <!-- tab contents (info or lessons)-->
        <%if(tab==="info" ){%>
            <div class="view-studio-tab border-top py-3">
                    <div>
                        <h2>
                            <%= studio.name %>
                        </h2>
                        <p>
                            <%= studio.description %>
                        </p>
                    </div>
                    <div class="amenities border-top py-3">
                        <div>
                            <h2>Amenities</h2>
                            <ul class="d-flex px-0">
                                <li>
                                    <figure><img src="../../public/img/logo.png">
                                        <figure>
                                </li>
                                <li>
                                    <figure><img src="../../public/img/logo.png">
                                        <figure>
                                </li>
                                <li>
                                    <figure><img src="../../public/img/logo.png">
                                        <figure>
                                </li>
                                <li>
                                    <figure><img src="../../public/img/logo.png">
                                        <figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- reviews sections -->
                    <div class="border-top">
                        <!-- rating -->
                        <div class="py-3">
                            <h2>Reviews</h2>
                            <div class="ratings">
                                <span class="rating-num">4.6</span>
                                <div class="stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Actual REVIEWS -->
                        <div class="py-3">
                            <!-- only get lesson with reviews -->                                                                                     
                                     <% sortedTotalReviews.forEach(eachReview=> {%>
                                            <div class="reviews-content border-top py-3">
                                                <p class="reviews-content">
                                                    <%= eachReview.name %> with <%= eachReview.instructor %>
                                                </p>
                                            </div>
                                            <div class="d-flex">
                                                <div class="stars">
                                                    <p>
                                                        <%= eachReview.rating %>
                                                    </p>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <p class="reviews-content mx-2 ">
                                                    <%= eachReview.dateCreated.toLocaleString().split(",")[0] %>
                                                </p>
                                            </div>
                                            <p class="reviews-content">
                                                <%= eachReview.review %>
                                            </p>
                                    <%})%>                                                                                          
                        </div>
                    </div>
            </div>
       </section>
        <%}else{%>
            <div class="view-studio-tab border-top py-3">
                <div>
                    <h2>
                        All lessons at <%= studio.name %>
                    </h2>
                    <div>
                        <!-- searach nar of lesson types pf the studios -->
                        <form action="#">
                            <select name="lesson-names">
                                <%for(let i = 0; i < lessonNames.length; i++){%>
                                    <option value="<%= lessonNames[i]%>">
                                        <%= lessonNames[i]%>
                                    </option>
                                    <%}%>
                            </select>
                            <input type="submit" value="Submit" />
                        </form>
                    </div>
                </div>
                <div class="calander border-top py-3">
                    <!--Calander -->
                    <!-- <div class="month">
                        <ul>
                            <li class="prev">&#10094;</li>
                            <li class="next">&#10095;</li>
                            <li>August<br><span style="font-size:18px">2021</span></li>
                        </ul>
                    </div>
                    <div>
                    <ul class="weekdays">
                        <li>Mo</li>
                        <li>Tu</li>
                        <li>We</li>
                        <li>Th</li>
                        <li>Fr</li>
                        <li>Sa</li>
                        <li>Su</li>
                    </ul>

                    <ul class="days">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li><span class="active">10</span></li>
                        <li>11</li>
                        ...etc
                    </ul>
                    </div> -->
                    <!-- lesson section -->
                    <%- include('../partials/studios/lessons'); %>
         
                </div>  
            </div>
        </section>    
        <%}%>
        
        <!-- address contents, partial-->
        <section>
            <div class=" ">
                <p>
                    <%= studio.address %>
                </p>
            </div>
        </section>
    </div>

<%- include('../partials/footer'); %>