<%- include('../partials/header'); %>
  <div id="page-login">
    <div id="loginpage-cover">

      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card page-login-card" style="border-radius: 1rem;">
              <div class="row g-0 h-100">
                <div class="col-md-6 col-lg-5 d-none d-md-block h-100">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                    alt="login form" class="img-fluid h-100" style="border-radius: 1rem 0 0 1rem;" />
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  
                  <div class="card-body p-4 p-lg-5 text-black">
                    <form class="myForm" method="POST" action="/login">
                      <h6 class="mb-5 text-warning text-center"><%= signUpMsg %></h6>
                      <h3 class="text-center mb-3">Login</h3>
                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <% if(errorObject.email) {%>
                          <input type="email" id="form2Example1" class=" form-control my-border" name="email"  value="<%= email %>" placeholder="Email Address">
                          <label class="form-label errors" for="form2Example1"><%= errorObject.email %></label>
                        <% }else{ %>
                          <input type="email" id="form2Example1" class="form-control" name="email" value="<%= email %>" placeholder="Email Address">
                        <% } %>
                      </div>

                      <!-- Password input -->
                      <div class="form-outline mb-4">
                        
                        <% if(errorObject.password) {%>
                          <input type="password" id="form2Example2" class="form-control my-border" name="password" value="<%= password %>"placeholder="Password"/>
                          <label class="form-label errors" for="form2Example1"><%= errorObject.password %></label>
                          <% }else{ %>
                            <input type="password" id="form2Example1" class="form-control" name="password" value="<%= password %>" placeholder="Password">
                          <% } %>
                      </div>
                
                      <!-- 2 column grid layout for inline styling -->
                      <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                          <!-- Checkbox -->
                          <div class="form-check">
                            <input class="form-check-input
                text-muted" type="checkbox" value="" id="form2Example34" />
                            <label class="form-check-label" for="form2Example34"> Remember me </label>
                          </div>
                        </div>

                        <div class="col">
                          <!-- Simple link -->
                          <a href="#!" class="text-muted">Forgot password?</a>
                        </div>
                      </div>
                      <div class="text-center">
                        <!-- Submit button -->
                        <button type="submit" class="w-100 btn btn-warning btn-rounded btn-block mb-4 text-white">Login
                          </button>
                      </div>
                      <!-- Register buttons -->
                      <div class="text-center">
                        <p>Not a member? <a href="/signup">Register</a></p>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <%- include('../partials/footer'); %>