<%- include('../partials/header'); %>
  <div id="page-login">
    <div id="loginpage-cover" class="w-100">

      <div class=" blur d-flex align-items-center">
        <div class="row d-flex justify-content-center align-items-center h-100 mx-auto">
          <div class="col ">
            <div class="card page-login-card mx-auto" style="border-radius: 1rem;">
              
                
                
                <div class="col-md-6 col-lg-7 align-items-center w-100">
                  
                    <div class="card-body p-4 p-lg-5 text-black">
                      
                
                    <form class="myForm" method="POST" action="/login">
                      
                      <h6 class="mb-5 text-warning text-center"><%= signUpMsg %></h6>
                      <h3 class="text-center mb-3">Login</h3>
                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <% if(errorObject.email) {%>
                          <input type="email" id="form2Example1" class=" form-control my-border" name="email"  value="<%= email %>" placeholder="Email Address">
                          <label class="form-label errors" for="form2Example1"><%= errorObject.email %></label>
                        <% }else{ %>
                          <input type="email" id="form2Example1" class="form-control" name="email" value="<%= email %>" placeholder="Email Address">
                        <% } %>
                      </div>

                      <!-- Password input -->
                      <div class="form-outline mb-4">
                        
                        <% if(errorObject.password) {%>
                          <input type="password" id="form2Example2" class="form-control my-border" name="password" value="<%= password %>"placeholder="Password"/>
                          <label class="form-label errors" for="form2Example1"><%= errorObject.password %></label>
                          <% }else{ %>
                            <input type="password" id="form2Example1" class="form-control" name="password" value="<%= password %>" placeholder="Password">
                          <% } %>
                      </div>
                      
                      <div class="text-center"> 
                       
                        <button type="submit" class="w-100 btn btn-warning btn-rounded btn-block mb-4 text-white">Login
                          </button>
                      </div>
                
                      <!-- 2 column grid layout for inline styling -->
                      <!-- <div class="row mb-4"> -->
                        <!-- <div class="col d-flex justify-content-center"> -->
                          <!-- Checkbox -->
                          <!-- <div class="form-check">
                            <input class="form-check-input
                text-muted" type="checkbox" value="" id="form2Example34" />
                            <label class="form-check-label" for="form2Example34"> Remember me </label>
                          </div>
                        </div> -->

                        <!-- <div class="col"> -->
                          <!-- Simple link -->
                          <!-- <a href="#!" class="text-muted">Forgot password?</a>
                        </div>
                      </div>-->
                     
                      <!-- Register buttons-->
                      <div class="text-center">
                        <p>Not a member? <a href="/signup" class>Register</a></p>
                      </div>
                    </form>

                  </div>
                </div>
              
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <%- include('../partials/footer'); %>