<%- include('../partials/header') %>

    <section class="card shopping-cart d-flex align-items-center mx-auto">
        <!-- navigation tabs -->
        <div >
            <%- include('../partials/users/users-tabs.ejs'); %>
        </div>
        <div class="card-body w-100">
            <!-- tab contents -->
            <div >
            <% if (lessons.length > 0){%>
                <% lessons.forEach(item=> { %>
                <div class="border-bottom bg-light ">
                    <div class="text-center bg-light">
                        <p><%= item.lessonDate %></p>
                    </div>                   
                    <div class="d-flex view-lessons pt-3 pb-5">
                        <div class="w-50">
                            <p>
                                <%= item.time %> <br><span>
                                        <%= item.duration %> min
                                    </span>
                            </p>
                        </div>
                        <div class="w-100">
                            <p> <%= item.name %> <br><span><%= item.instructor %></span></p>
                        </div>                      
                        <div class="w-50"> 
                            <% if(item.reviews.length > 0){%>
                                <button class="w-100 btn btn-outline-warning" disabled>
                                    <p>Review Submited</p>
                                </button>
                            <% }else{ %>        
                                <button type="button" class="w-100 btn btn-outline-warning">
                                    <a href="/users/history/<%= item._id %>/review">Review</a>
                                </button>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% }) %>
            <% }else{ %>
                <div>
                    <p>You have no upcoming lessons</p>
                </div>
            <% } %>
            </div>
            
        </div>
    </section>
    
    <%- include('../partials/footer'); %>