<%- include('../partials/header'); %>
 

    <!-- navigation tabs -->
    
        <%- include('../partials/users/users-tabs.ejs'); %>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto user-tabs">
                <li class="nav-item">
                    <a class="nav-link text-warning font-weight-bold" aria-current="page" href="/users/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/users/shoppingcart">Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/users/upcoming">Upcoming</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/users/history">History</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
</div>
    
    <div class="card-body w-100">
        <!-- tab contents -->
        <form method="POST" action="/users/profile">
            <div class="card-body">
                <!-- first name -->
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">First Name</p>
                </div>
                <div class="col-sm-9">
                    <input name="firstname" value="<%= user.firstname %>"class="text-muted mb-0"></input>
                </div>
                </div>
                <hr>
                <!-- last name -->
                <div class="row">
                    <div class="col-sm-3">
                    <p class="mb-0">Last Name</p>
                    </div>
                    <div class="col-sm-9">
                    <input name="lastname" value="<%= user.lastname %>"class="text-muted mb-0"></input>
                    </div>
                </div>
                <hr>
                <!-- email -->
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                    <input name="email" value="<%= user.email %>"class="text-muted mb-0"></input>
                </div>
                </div>
                <hr>
                <!-- credits-->
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Credits</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0"><%= user.credits %></p>
                </div>
                </div>
                <!-- edit button-->
                <div>
                    <button type="submit" class="w-100 btn btn-warning btn-rounded btn-block mb-4 text-white">
                        Save Profile</button>
                </div>
            </div>
        </form>
   
    </div>
</section>


</div>
<%- include('../partials/footer'); %>