<%- include('../partials/header'); %>


        <!-- navigation tabs -->
        
            <%- include('../partials/users/users-tabs.ejs'); %>
            
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto user-tabs">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/users/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/users/shoppingcart">Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/users/upcoming">Upcoming</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning font-weight-bold" aria-current="page" href="/users/history">History</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
</div>
        
        
        <div class="card-body w-100">
            <!-- tab contents -->
            <div >
                <form method="POST" action="/users/history/<%= lesson %>/review">
                    <!-- star ratings input -->
                    <span class="star-rating star-5">
                        <input type="radio" name="rating" value="1"><i></i>
                        <input type="radio" name="rating" value="2"><i></i>
                        <input type="radio" name="rating" value="3"><i></i>
                        <input type="radio" name="rating" value="4"><i></i>
                        <input type="radio" name="rating" value="5"><i></i>
                    </span>                     
                    <% if(errorObject.rating) {%>
                    <span class="errors"><%= errorObject.rating %></span>
                    <%}else{%>
                    <span></span>
                    <%}%>                  
                    <!-- reviews input -->
                    <div class="form-outline mb-4">
                    <% if(errorObject.review) {%>
                      <input type="text"  class="form-control review-input-box my-border" name= "review"/>
                      <label class="form-label errors" ><%= errorObject.review %></label>
                      <% }else{ %>
                        <input type="text"  class="form-control review-input-box" name= "review"/>
                        <label class="form-label " ></label>
                    <% } %>
                    </div>                           
                    <!-- Submit button -->
                    <div>
                    <button type="submit" class="w-100 btn btn-warning btn-rounded btn-block mb-4 text-white">
                        Submit</button>
                    </div>                   
                </form>
            </div>
            
        </div>
    </section>
    
    <%- include('../partials/footer'); %>