<%- include('../partials/header'); %>

    <section class="card shopping-cart d-flex align-items-center mx-auto">
        <!-- navigation tabs -->
        <div>
            <%- include('../partials/users/users-tabs.ejs'); %>
        </div>
        <div class="card-body w-100">
            <!-- tab contents -->
            <div>
                <div class="border-bottom ">
                    <div class="text-center bg-light">
                        <p><%= lesson.dateOfLesson %></p>
                    </div>                   
                    <div class="d-flex view-lessons pt-3 pb-5">
                        <div class="w-50">
                            <p>
                                <%= lesson.time %> <br><span>
                                        <%= lesson.duration %> min
                                    </span>
                            </p>
                        </div>
                        <div class="w-100">
                            <p>
                                <%= lesson.name %> <br><span>
                                        <%= lesson.instructor %>
                                    </span>
                            </p>
                        </div>
                        <div class="w-50"> <button type="button" class="w-100 btn btn-outline-warning"><a
                                    href="/users/shoppingcart/<%= lesson._id %>">
                                    <%= lesson.credits %> credits
                                </a></button></div>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-warning btn-rounded btn-block mb-4 text-white"><a
                        href='/users/shoppingcart/<%= lesson._id %>/message'>Confirm</a></button>
            </div>
        </div>
    </section>


    </div>
    <%- include('../partials/footer'); %>